:root {
    --primary: #ff2c2c;
    --secondary: rgb(20, 20, 20);
    --bg: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg);
    color: var(--secondary);
}


/* Product Section */
.product-desc {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(231, 236, 230), rgb(249, 255, 248));
}

#fossil-logo {
    margin: 1.4rem 7%;
}

.product-desc .bg-img {
    min-height: 100vh;
    background-image: url(../../../img/bg/fossil-aesthetic.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-desc .bg-img::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}

.product-desc .bg-content {
    padding: 2% 7%;
    z-index: 1;
}

.bg-content {
    opacity: 0;
    animation: slideIn 2.5s forwards;
    transform: translateY(-5%);
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.bg-content h1, 
.bg-content p {
    color: var(--bg);
    text-align: center;
}

.bg-content h1 {
    font-size: 2.5em;
    font-weight: 800;
}

.bg-content #bottom {
    background: linear-gradient(to right, rgb(231, 236, 230), rgb(249, 255, 248));
    margin: 0 5%;
    padding: 1% 0;
    color: var(--secondary);
}

.bg-content p {
    padding: 1% 10%;
    font-size: 1.3rem;
    line-height: 2rem;
}

.product-desc .logo img {
    width: 7%;
}

.product-section {
    background: linear-gradient(to right, rgb(231, 236, 230), rgb(106, 108, 105));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fossil-product .product {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10% 0;
    color: var(--secondary);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.fossil-product .product:hover {
    color: var(--primary);
}

.fossil-product .img, 
.fossil-product h4, 
.fossil-product p,
.fossil-product h5 {
    padding: 1% 0;
}

.fossil-product h4 {
    font-size: 2rem;
}

.fossil-product p {
    font-size: 1.2rem;
}

.fossil-product #find-more {
    font-size: 1.1rem;
}

.everett-desc .arrow {
    display: flex;
    align-items: center;
}

.everett-desc #right-arrow {
    margin: 0.5% 0 0 5%;
}

.fossil-product .everett-desc {
    width: 40%;
}

.fossil-product img {
    width: 85%;
}


/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 80%; 
    }
}

/* Tablet */
@media (max-width: 800px) {
    html {
        font-size: 65%;
    }

    #fossil-logo {
        margin: 5% 7% 1.4rem 7%;
    }
    
    .fossil-product .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10% 0;
    }

    .bg-content #bottom {
        margin: 0 20%;
    }
    
    .fossil-product img {
        width: 70%;
    }

    .fossil-product h4, 
    .fossil-product p {
        text-align: center;
    }

    .everett-desc .arrow {
        display: flex;
        justify-content: center;
    }

    .fossil-product .img {
        display: flex;
        justify-content: center;
        padding: 3% 0;
    }

    .fossil-product .everett-desc {
        width: 80%;
    }

    .everett-desc #right-arrow {
        margin: 0.5% 0 0 1%;
    }

    .product-desc {
        margin: 5% 0 0 0;
    }

}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 60%;
    }
}