:root {
    --primary: #ff2c2c;
    --secondary: rgb(20, 20, 20);
    --bg: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg);
    color: var(--secondary);
}


/* Product Section */
.product-desc {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(249, 247, 221), rgb(255,255,255));
}

#seiko-logo {
    margin: 1.4rem 7%;
}

.product-desc .bg-img {
    min-height: 100vh;
    background-image: url(../../../img/bg/seiko-aesthetic.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-desc .bg-img::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}

.product-desc .bg-content {
    padding: 2% 7%;
    z-index: 1;
}

.bg-content {
    opacity: 0;
    animation: slideIn 2.5s forwards;
    transform: translateY(-5%);
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.bg-content h1, 
.bg-content p {
    color: var(--bg);
    text-align: center;
}

.bg-content h1 {
    font-size: 2.5em;
    font-weight: 800;
}

.bg-content #bottom {
    color: var(--bg);
    background: linear-gradient(to right, rgb(25, 60, 114), rgb(40, 110, 215));
    margin: 0 20%;
    padding: 1% 0;
}

.bg-content p {
    padding: 1% 10%;
    font-size: 1.3rem;
    line-height: 2rem;
}

.product-desc .logo img {
    width: 10%;
}

.product-section {
    background: linear-gradient(to right, rgb(249, 247, 221), rgb(255,255,255));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.seiko-product .product {
    color: rgb(25, 60, 114);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10% 0;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.seiko-product .product:hover {
    color: var(--primary);
}

.seiko-product .img, 
.seiko-product h4, 
.seiko-product p,
.seiko-product h5 {
    padding: 1% 0;
}

.seiko-product h4 {
    font-size: 2rem;
}

.seiko-product p {
    font-size: 1.2rem;
}

.seiko-product #find-more {
    font-size: 1.1rem;
}

.king-desc .arrow {
    display: flex;
    align-items: center;
}

.king-desc #right-arrow {
    margin: 0.5% 0 0 5%;
}

.seiko-product .king-desc {
    width: 40%;
}

.seiko-product img {
    width: 85%;
}


/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 80%; 
    }
}

/* Tablet */
@media (max-width: 800px) {
    html {
        font-size: 65%;
    }

    #seiko-logo {
        margin: 5% 7% 1.4rem 7%;
    }
    
    .seiko-product .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10% 0;
    }

    .bg-content #bottom {
        margin: 0 20%;
    }
    
    .seiko-product img {
        width: 70%;
    }

    .seiko-product h4, 
    .seiko-product p {
        text-align: center;
    }

    .king-desc .arrow {
        display: flex;
        justify-content: center;
    }

    .seiko-product .img {
        display: flex;
        justify-content: center;
        padding: 3% 0;
    }

    .seiko-product .king-desc {
        width: 80%;
    }

    .king-desc #right-arrow {
        margin: 0.5% 0 0 1%;
    }

    .product-desc {
        margin: 5% 0 0 0;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 60%;
    }
}